<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JAOM Admin - Transactions / Donations</title>
  </head>
  <body>
    <div class="wrapper">
      <app-left-bar id="sidebar"></app-left-bar>

      <div class="content">
        <app-top-bar id="top-bar"></app-top-bar>
        <div class="content-container">
          <p>Donations</p>
          <div class="d-flex justify-content-end" style="margin: 20px;">
            <div class="input-group" style="width: 20%;">
              <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="applySearchFilter()"
                placeholder="Search by ID, Fullname, Phone, Email...."
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </div>
          <table class="table table-bordered users-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Fullname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Bank Type</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transac of filteredTransactions">
                <td>{{ transac?.id }}</td>
                <td>{{ transac?.fullname }}</td>
                <td>{{ transac?.phone }}</td>
                <td>{{ transac?.email }}</td>
                <td>{{ transac?.location }}</td>
                <td>{{ transac?.payment_method }}</td>
                <td>{{ transac?.amount }}</td>
                <td>{{ transac?.created_at | date : "longDate" }}</td>
                <td class="action-cont">
                  <img
                    (click)="deleteDonationTransaction(transac?.id)"
                    [src]="imageUrls.delete"
                    alt=""
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-cont">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="onPageChange(1)"><<</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="onPageChange(currentPage - 1)"
                  >Previous</a
                >
              </li>
              <li
                class="page-item"
                *ngFor="let page of getPageRange()"
                [class.active]="currentPage === page"
              >
                <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === transactionsData?.last_page"
              >
                <a class="page-link" (click)="onPageChange(currentPage + 1)"
                  >Next</a
                >
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === transactionsData?.last_page"
              >
                <a
                  class="page-link"
                  (click)="onPageChange(transactionsData?.last_page)"
                  >>></a
                >
              </li>
            </ul>
            <p class="text-muted showing-pagination">
              Showing {{ getStartingIndex() }} - {{ getCurrentPageEnd() }} of
              {{ transactionsData?.total }} donations
            </p>
          </div>
          <div class="dialog-messages delete-dialog-message">
            <p class="text-danger"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
