# This is a Git ignore file. It specifies intentionally untracked files that Git should ignore when checking for changes in the project.
# For more information, see http://help.github.com/ignore-files/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node.js
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
# The following files are excluded from the .vscode/ directory
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
test.log
/typings

# System files
.DS_Store
Thumbs.db
.vercel
.angular
