nav {
  padding: 7px 10px !important;
}

.new-admin {
  font-size: 13px !important;
}

.notification-active {
  display: none;
}

.nav-item img {
  width: 20px;
  height: 16px;
  position: relative;
  top: 5px;
}

.user-profile {
  width: 35px !important;
  height: 35px !important;
  top: 0px !important;
  position: relative;
  border-radius: 50%;
}

.navbar-toggler {
  width: 60px !important;
  height: 40px !important;
  border: none;
}

.notifications-dropdown {
  width: 300px;
  padding: 10px 20px;
}

.notifications-sub-panel {
  height: 500px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.logo {
  width: 85px;
}

.user-settings {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  right: 0;
  top: 100%;
}

.logout-icon {
  position: relative;
  top: -1px !important;
  margin-left: 5px !important;
}

.top-items {
  cursor: pointer;
  padding: 5px 20px;
}

.notification-pagination {
  color: #000 !important;
}

.alert-heading {
  color: #000 !important;
  font-weight: bold !important;
  position: relative !important;
  top: 10px !important;
}

/* Custom styles for the notification */
.custom-notification {
  background-color: #f8f9fa;
  /* Background color */
  border: 1px solid #d6d8db;
  /* Border color */
  border-radius: 8px;
  /* Rounded corners */
  padding: 15px;
  /* Padding inside the notification */
}

/* Style the title */
.notification-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  /* Spacing below the title */
}

/* Style the description (for specific notifications) */
.notification-description {
  font-size: 14px;
  margin-bottom: 10px;
  /* Spacing below the description */

}

/* Style the link (for specific notifications) */
.notification-link {
  text-decoration: none;
  /* Remove underlines from the link */
  background-color: transparent;
  /* Transparent background */
  color: #007bff;
  /* Link color */
  font-weight: bold;
  margin-top: 5px;
  /* Spacing above the link */
  display: inline-block;
}

/* Style the date */
.notification-date {
  font-size: 12px;
  color: #6c757d;
  /* Gray text color for the date */
}

.mobile-text-items {
  color: #fff;
  display: none;
}

.custom-dropdown-menu {
  padding: 0;
}

.custom-dropdown-menu a {
  padding: 10px 20px;
}

.custom-dropdown-menu a:active {
  background-color: rgba(0, 0, 0, 0.673);
  opacity: 0.8;
}

@media screen and (max-width: 990px) {
  .mobile-text-items {
    display: block;
    cursor: pointer;
  }

  .mobile-text-items:hover {
    color: #fff;
    opacity: 0.5;
  }

  .notifications-dropdown {
    position: fixed !important;
    top: 0;
    right: 0;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    margin-bottom: 10px;
    /* Add spacing between nav-items */
  }

  .profile-logo {
    display: none;
  }

  .logout-icon {
    filter: invert(100%);
    /* Invert the colors to make it white */
  }

  .new-admin {
    position: relative;
    top: 5px;
  }

  .user-profile {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .mobile-text-items {
    font-size: 13px !important;
  }

  .new-admin {
    position: relative;
    top: 5px;
  }
}
