<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JAOM Admin - User Management / Updates</title>
  </head>
  <body>
    <div class="wrapper">
      <app-left-bar style="z-index: 1000;"></app-left-bar>

      <div class="content">
        <app-top-bar id="top-bar"></app-top-bar>
        <div class="content-container">
          <p>Updates</p>
          <div class="d-flex justify-content-end" style="margin: 20px">
            <div class="btn-group dropnone">
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-sort"></i> Sort Items
              </button>
              <ul class="dropdown-menu">
                <li style="
                      border-bottom: 1px solid #eee;
                      text-align: center;
                      padding-bottom: 10px;
                    ">
                  <b>Order Items</b>
                </li>
                <a [class.active]="order === orderEnum.Asc" class="export-item dropdown-item" style="cursor: pointer"
                  (click)="onPageChange(currentPage, orderEnum.Asc)">Sort as Ascending Order</a>
                <a [class.active]="order === orderEnum.Desc" class="export-item dropdown-item" style="cursor: pointer"
                  (click)="onPageChange(currentPage, orderEnum.Desc)">Sort as Descending Order</a>
              </ul>
            </div>&nbsp;
            <div class="btn-group dropnone">
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-list"></i> Per Items
              </button>
              <ul class="dropdown-menu">
                <li style="
                      border-bottom: 1px solid #eee;
                      text-align: center;
                      padding-bottom: 10px;
                    ">
                  <b>Show Per Items</b>
                </li>
                <a [class.active]="itemsPerPage === itemEnum.Five" class="export-item dropdown-item"
                  style="cursor: pointer" (click)="onPageChange(currentPage, orderEnum.Null, itemEnum.Five)">5 Items per
                  Page</a>
                <a [class.active]="itemsPerPage === itemEnum.Ten" class="export-item dropdown-item"
                  style="cursor: pointer" (click)="onPageChange(currentPage, orderEnum.Null, itemEnum.Ten)">10 Items per
                  Page</a>
                <a [class.active]="itemsPerPage === itemEnum.Twenty" class="export-item dropdown-item"
                  style="cursor: pointer" (click)="onPageChange(currentPage, orderEnum.Null, itemEnum.Twenty)">20 Items
                  per Page</a>
              </ul>
            </div>&nbsp;
            <div class="input-group" style="width: 20%">
              <input
                type="text"
                [(ngModel)]="searchTerm"
                (input)="applySearchFilter()"
                placeholder="Search by ID, User ID, Tilte/Subject, Content, ...."
                class="form-control filter-user-search"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered users-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>User ID</th>
                  <th>Title / Subject</th>
                  <th>Content</th>
                  <th>Type</th>
                  <th>Files</th>
                  <th>Permission</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let update of filteredUpdates">
                  <td>{{ update?.id }}</td>
                  <td>{{ update?.user_id }}</td>
                  <td
                    [innerHTML]="
                      extractStylesAndText(update?.subject).innerHTML
                    "
                  ></td>
                  <td
                    [innerHTML]="
                      extractStylesAndText(update?.content).innerHTML
                    "
                  ></td>
                  <td>{{ update?.type }}</td>
                  <td style="text-align: center;"><button class="btn show-files-btn" (click)="openEditModal(update?.updates_blob_id)" [disabled]="update?.type == 'text'">Show Files</button></td>
                  <td class="text-center">
                    <ng-container
                      *ngIf="
                        update?.permission === 'approved';
                        else disapproved
                      "
                    >
                      <label class="switch">
                        <input type="checkbox" checked />
                        <span
                          class="slider"
                          (click)="updatePermission(update?.id, 0)"
                        ></span>
                      </label>
                    </ng-container>
                    <ng-template #disapproved>
                      <label class="switch">
                        <input type="checkbox" />
                        <span
                          class="slider"
                          (click)="updatePermission(update?.id, 1)"
                        ></span>
                      </label>
                    </ng-template>
                  </td>
                  <td>{{ update?.created_at | date : "MMMM d, y" }}</td>
                  <td>{{ update?.created_at | date : "h:mm a" }}</td>
                  <td class="action-cont">
                    <img
                      (click)="openConfirmationModal(update?.id)"
                      [src]="imageUrls.delete"
                      alt=""
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-cont">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="onPageChange(1)"><<</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="onPageChange(currentPage - 1)"
                  >Previous</a
                >
              </li>
              <li
                class="page-item"
                *ngFor="let page of getPageRange()"
                [class.active]="currentPage === page"
              >
                <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === updatesData?.last_page"
              >
                <a class="page-link" (click)="onPageChange(currentPage + 1)"
                  >Next</a
                >
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage === updatesData?.last_page"
              >
                <a
                  class="page-link"
                  (click)="onPageChange(updatesData?.last_page)"
                  >>></a
                >
              </li>
            </ul>
            <p class="text-muted showing-pagination">
              Showing {{ getStartingIndex() }} - {{ getCurrentPageEnd() }} of
              {{ updatesData?.total }} updates
            </p>
          </div>
          <div class="dialog-messages delete-dialog-message">
            <p class="text-danger"></p>
          </div>
          <div class="dialog-messages update-dialog-message">
            <p class="text-success"></p>
          </div>
        </div>
      </div>
    </div>
    <app-spinner-loading *ngIf="isSpinnerLoading"></app-spinner-loading>
    <div *ngIf="showConfirmationModal" class="modal-conf" id="confirmationModal">
      <div class="modal-dialog-conf">
        <div class="modal-content-conf">
          <div class="modal-header-conf">
            <h5 class="modal-title-conf">Confirmation</h5>
            <button type="button" class="close-conf" (click)="closeConfirmationModal()">&times;</button>
          </div>
          <div class="modal-body-conf">
            Do you want to remove this selected update?
          </div>
          <div class="modal-footer-conf">
            <button type="button" class="btn btn-secondary-conf" (click)="closeConfirmationModal()">Cancel</button>&nbsp;
            <button type="button" class="btn btn-danger-conf" (click)="confirmDelete()">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-overlay">
      <div class="modal-container">
        <div class="modal-content">
          <button (click)="closeEditModal()" type="button" class="close exit-modal" aria-label="Close">
            X
          </button>
          <h2>Files</h2>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr style="text-align: center;">
                  <th>File Name</th>
                  <th>File Type</th>
                  <th>File Size</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="attachment-table" [innerHTML]="dynamicContentMap.get(selectedBlobId)">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
