.table {
  border-collapse: collapse;
}

.table td {
  border-top: none;
}

.custom-date {
  /* position: relative;
  top: 20px; */
}

/* Apply custom styles to the td element */
.my-custom-td {
  display: flex;
  align-items: center;
  text-align: justify;
}

/* Apply custom styles to the checkbox */
.my-custom-checkbox {
  margin-right: 10px;
}

/* Apply custom styles to the highlighted text */
.my-custom-highlighted-text {
  color: #47C9D7;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Apply custom styles to the location text */
.my-custom-location {
  color: #333;
}

.content-container {
  height: 80%;
  overflow-y: auto;
}
.action-cont {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.action-cont img {
  cursor: pointer;
  transition: all 0.2s;
}

.action-cont img:hover {
  opacity: 0.8;
}

table tbody tr:hover {
  opacity: 0.9;
}

.page-item {
  cursor: pointer;
}

.pagination-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left; /* To align the "Showing" message to the left */
}

.showing-pagination {
  font-size: 15px;
}

.profile-image-cont {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-content {
  border: 0px;
  position: relative;
}

.content {
  position: relative;
}

.update-dialog-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add the desired box shadow */
  display: none;
}

.dialog-messages{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add the desired box shadow */
  display: none;
}

.dialog-messages p, .update-dialog-message p {
  position: relative;
  top: 7px;
}

.modal-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.modal-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 800px;
  height: 90%;
  padding: 50px;
  overflow-y: auto;
  transform: translateY(-20px);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.modal-overlay.active,
.modal-container.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-container.active {
  transform: translateY(0);
}

.exit-modal {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 15px;
}

.exit-modal:hover {
  background-color: rgba(0, 0, 0, 0.082);
}

.invalid-image {
  font-size: 15px;
  display: none;
}

.no-changes-txt {
  font-size: 15px;
  display: none;
}

.s-panel-item {
  margin-top: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
}

.s-panel-inputs {
  padding: 7px;
  border-color: transparent;
  border-radius: 5px;
  font-size: 12px;
  width: 200px;
  box-sizing: border-box;
  background: rgba(16, 136, 152, 0.14);
  color: rgb(128, 128, 128);
  text-overflow: ellipsis;
}

.dialog-messages{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add the desired box shadow */
  display: none;
}

.dialog-messages p, .update-dialog-message p {
  position: relative;
  top: 7px;
}

.faqs-sub-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}