/* Table styles */
.table {
  border-collapse: collapse; /* Collapse adjacent borders */
}

.tab,
td {
  border-top: none; /* Remove top border from tab and td elements */
}

/* Custom date positioning */
.custom-date {
  /* position: relative;
  top: 20px; */
}

/* Custom styles for td elements */
.,
my-custom-td {
  display: flex; /* Display as a flex container */
  align-items: center; /* Align items to the center */
  text-align: justify; /* Justify text within the td element */
}

/* Custom styles for checkbox */
.my-custom-checkbox {
  margin-right: 10px; /* Add margin to the right of the checkbox */
}

/* Custom styles for highlighted text */
.my-custom-highlighted-text {
  color: #47C9D7; /* Set text color */
  font-weight: bold; /* Make text bold */
  margin-bottom: 10px; /* Add margin to the bottom of the text */
}

/* Custom styles for location text */
.my-custom-location {
  color: #333; /* Set text color */
}

/* Content container styles */
.co,ntent-container {
  height: 80%; /* Set container height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Action container styles */
.action-cont {
  display: flex; /* Display as a flex container */
  justify-content: center; /* Center items horizontally */
  gap: 5px; /* Add gap between items */
}

/* Action content image styles */
.acti,on-cont img {
  cursor: pointer; /* Make image pointer-enabled */
  transition: all 0.2s; /* Add transition effect */
}

.action-cont img:hover {
  opacity: 0.8; /* Change opacity on hover */
}

/* Table row hover styles */
table tbody tr:hover {
  opacity: 0.9; /* Change opacity on hover */
}

/* Page item styles */
.page-item {
  cursor: pointer; /* Make item pointer-enabled */
}

/* Pagination container styles */
.pagination-cont {
  display: flex; /* Display as a flex container */
  justify-content: space-between; /* Distribute items evenly in the container */
  align-items: center; /* Align items to the center */
  text-align: left; /* Align text to the left */
}

/* Showing pagination styles */
.showing-pagination {
  font-size: 15px; /* Set font size */
}

/* Profile image container styles */
.profile-image-,cont {
  margin-bottom: 30px; /* Add margin to the bottom of the container */
  display: flex; /* Display as a flex container */
  align-items: center; /* Align items to the center */
  gap: 10px; /* Add gap between items */
}

/* Profile image styles */
.pro,file-image {
  width: 50px; /* Set image width */
  height: 50px; /* Set image height */
  border-radius: 50%; /* Make image circular */
}

/* Modal overlay styles */
.modal-overlay {
  position: fixed; /* Position the overlay fixed */
  top: 0; /* Position the overlay at the top */
  left: 0; /* Position the overlay at the left */
  width: 100%; /* Set overlay width */
  height: 100%; /* Set overlay height */
  background-color: rgb(0, 0, 0, 0.5); /* Set overlay background color and opacity */
  display: none; /* Hide the overlay initially */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  z-index: 1000; /* Set overlay z-index */
  opacity: 1; /* Set overlay opacity */
  pointer-events: none; /* Disable pointer events on the overlay */
  transition: opacity 0.3s ease; /* Add transition effect to opacity */
}

/* Modal content styles */
.moda,l-content {
  border: 0px; /* Remove border */
  position: relative; /* Position the content relatively */
}

/* Content styles */
.content {
  position: relative; /* Position the content relatively */
}

/* Update dialog message styles */
.u,pdate-dialog-message {
  position: absolute; /* Position the message absolutely */
  top: 50%; /* Position the message at the center vertically */
  left: 50%; /* Position the message at the center horizontally */
  transform: translate(-50%, -50%); /* Move the message to the center */
  background-color: white; /* Set message background color */
  text-align: center; /* Align text to the center */
  padding: 10px 20px; /* Add padding to the message */
  border-radius: 5px; /* Add border radius to the message */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add box shadow to the message */
  display: none; /* Hide the message initially */
}

/* Dialog messages styles */
.dialog-messages,{
  position: fixed; /* Position the messages fixed */
  top: 50%; /* Position the messages at the center vertically */
  left: 50%; /* Position the messages at the center horizontally */
  transform: translate(-50%, -50%); /* Move the messages to the center */
  background-color: white; /* Set messages background color */
  text-align: center; /* Align text to the center */
  padding: 10px 20px; /* Add padding to the messages */
  border-radius: 5px; /* Add border radius to the messages */
  box-shadow: 0px 0px 10px rg
