<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JAOM Admin - New Admin</title>
</head>

<body>
    <div class="wrapper">
        <app-left-bar style="z-index: 1000;"></app-left-bar>

        <div class="content">
            <app-top-bar id="top-bar"></app-top-bar>
            <div class="container">
                <h1>Manage Administrative Access</h1>
                <div class="loading-spinner" *ngIf="showLoading"></div>
                <div class="user-list">
                    <li class="user-card" *ngFor="let account of data">
                        <div class="user-header">
                            <img *ngIf="account?.image_blob !== null; else otherImage"
                                [src]="'data:image/jpeg;base64,' + account?.image_blob" />
                            <ng-template #otherImage>
                                <img [src]="imageUrls.user_default" />
                            </ng-template>
                            <p>{{ account?.firstname }} {{ account?.lastname }}</p>
                        </div>
                        <a class="add-administrator-link" (click)="removeAdminAccess(account?.id)">Remove Access</a>
                    </li>
                </div>
                <div *ngIf="showEmptyData" class="empty-data">
                    <p>There are no accounts that have an admin access</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog-messages remove-dialog-message">
        <p class="text-danger">Successfully remove administrative access</p>
    </div>
</body>

</html>
