<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JAOM Admin - Dashboard</title>
  </head>
  <body>
    <div class="wrapper">
      <app-left-bar></app-left-bar>

      <div class="content">
        <app-top-bar id="top-bar"></app-top-bar>
        <div class="content-container">
          <p>Dashboard</p>
          <div class="flex-container">
            <div class="custom-div">
              <div>
                <img [src]="imageUrls.totalUser" alt="" />
                <img [src]="imageUrls.arrowRight" alt="" />
                <h3>{{userCounts}}</h3>
              </div>
              <p>Total Users</p>
            </div>
            <div class="custom-div">
              <div>
                <div class="total-users-active-wrapper active">
                  <img
                    class="total-users-active"
                    [src]="imageUrls.totalUser"
                    alt=""
                  />
                  <div class="active-indicator"></div>
                </div>
                <img [src]="imageUrls.arrowRight" alt="" />
                <h3>{{userStatusCounts?.active_user_count}}</h3>
              </div>
              <p>Active Users</p>
            </div>
            <div class="custom-div">
              <div>
                <div class="total-users-active-wrapper active">
                  <img
                    class="total-users-active"
                    [src]="imageUrls.totalUser"
                    alt=""
                  />
                  <div style="background-color: #dc3545;" class="active-indicator"></div>
                </div>
                <img [src]="imageUrls.arrowRight" alt="" />
                <h3>{{userStatusCounts?.inactive_user_count}}</h3>
              </div>
              <p>Inactive Users</p>
            </div>
            <div class="custom-div">
              <div>
                <img [src]="imageUrls.allChat" alt="" />
                <img [src]="imageUrls.arrowRight" alt="" />
                <h3>{{chatCounts}}</h3>
              </div>
              <p>Chats</p>
            </div>
            <div class="custom-div">
              <div>
                <img [src]="imageUrls.user_management" alt="" />
                <img [src]="imageUrls.arrowRight" alt="" />
                <h3>{{roomCounts}}</h3>
              </div>
              <p>Rooms</p>
            </div>
            <div class="custom-div">
              <div>
                <img [src]="imageUrls.updateChats" alt="" />
                <img [src]="imageUrls.arrowRight" alt="" />
                <h3>{{updateCounts}}</h3>
              </div>
              <p>Updates</p>
            </div>
          </div>
          <div class="options-container">
            <p id="donation-header">Donations</p>
            <div class="options">
              <div class="d-flex options-control">
                <label for="monthSelect">Month:</label>&nbsp;
                <select
                  class="form-control"
                  id="monthSelect"
                  [(ngModel)]="selectedMonth"
                  name="selectedMonth"
                  (ngModelChange)="onMonthYearChange()"
                >
                  <option value="january">January</option>
                  <option value="february">February</option>
                  <option value="march">March</option>
                  <option value="april">April</option>
                  <option value="may">May</option>
                  <option value="june">June</option>
                  <option value="july">July</option>
                  <option value="august">August</option>
                  <option value="september">September</option>
                  <option value="october">October</option>
                  <option value="november">November</option>
                  <option value="december">December</option>
                </select>
              </div>
              <div class="d-flex options-control">
                <label for="yearSelect">Year:</label>&nbsp;
                <select
                  class="form-control"
                  id="yearSelect"
                  [(ngModel)]="selectedYear"
                  name="selectedYear"
                  (ngModelChange)="onMonthYearChange()"
                >
                <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="content-wrapper">
            <div id="chartContainer" style="height: 360px; width: 100%;"></div>
            <div class="line"></div>
          </div>
          <div class="donations-information">
            <div class="donation-sub-list">
              <p>Total donations:</p>
              <div class="donations-amount">
                <p>Php. {{ donationTransactions?.total_amount }} / {{donationTransactions?.total_user_donations }} users</p>
              </div>
            </div>
            <div class="donation-sub-list">
              <p>Donations per month & year:</p>
              <div class="donations-amount">
                <p>
                  Php.
                  {{ donationTransactions?.total_amount_per_month_and_year }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
