
.flex-container {
  display: flex;
  justify-content: space-between;
}

.custom-div {
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  padding: 20px 20px 0 20px;
  margin: 10px;
  flex: 1;
  border-radius: 5px;
}
.custom-div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-div > p {
  text-align: center;
  margin-top: 2px;
  font-size: 15px;
}

.custom-div > div > h3 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 2px;
}

.total-users-active-wrapper {
  position: relative;
  display: inline-block;
}
.total-users-active {
  width: 100%; /* Ensure the indicator spans the full width */
}
.active-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px; /* Height of the active indicator */
  background-color: #55d853;
  border-radius: 50%;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}
.total-users-active-wrapper.active .active-indicator {
  opacity: 1; /* Show the active indicator when the wrapper has the 'active' class */
}

#donation-header {
  position: relative;
  top: 7px;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.options {
  display:flex;
  justify-content: end !important;
  gap: 20px !important;
  width: 40%;
}

.options .options-control {
  width: 100%;
}

.options label {
  position: relative;
  top: 5px;
  font-weight: bold;
}

.content-container {
  height: 80%;
  overflow-y: auto;
}

.donations-information {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0 20px 0;
}

.donation-sub-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.donation-sub-list > p {
  position: relative;
  top: 5px;
  font-weight:bold ;
  color: rgba(0, 0, 0, 0.862);
}

.donations-amount {
  background: #D9D9D9;
  text-align: center;
  padding: 0px 20px;
  border-radius: 4px;
}

.donations-amount p {
  position: relative;
  top: 10px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .flex-container {
    flex-wrap: wrap; /* Change to wrap elements to the next row */
    justify-content: center; /* Center items within the container */
  }

  .custom-div {
    flex-basis: calc(33.33% - 20px); /* Calculate 33.33% width for each column */
    margin: 10px;
  }

  .custom-div > p {
    font-size: 14px;
  }
  
  .custom-div > div > h3 {
    font-size: 16px;
  }

  .custom-div img {
    width: 20px;
    height: 15px;
  }

  .donations-information {
    flex-wrap: wrap;
    justify-content: center;
  }

  .donation-sub-list {
    flex-basis: calc(50% - 20px);
    gap: 30px;
  }
  
  .donation-sub-list > p {
    font-size: 14px;
  }

  .donations-amount p {
    font-size: 13px !important;
  }
}