.table tbody tr:nth-child(odd) {
  background: rgba(217, 217, 217, 0.486);
}

.table-date {
  font-size: 10px !important;
}

.content-container {
  height: 80%;
  overflow-y: auto;
}
.action-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.action-cont img {
  cursor: pointer;
  transition: all 0.2s;
}

.action-cont img:hover {
  opacity: 0.8;
}

table tbody tr:hover {
  opacity: 0.9;
}

.page-item {
  cursor: pointer;
}

.pagination-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left; /* To align the "Showing" message to the left */
}

.showing-pagination {
  font-size: 15px;
}

.profile-image-cont {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-content {
  border: 0px;
  position: relative;
}

.content {
  position: relative;
}

.update-dialog-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add the desired box shadow */
  display: none;
}

.dialog-messages{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add the desired box shadow */
  display: none;
}

.dialog-messages p, .update-dialog-message p {
  position: relative;
  top: 7px;
}

.modal-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.modal-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 800px;
  height: 90%;
  padding: 50px;
  overflow-y: auto;
  transform: translateY(-20px);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.modal-overlay.active,
.modal-container.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-container.active {
  transform: translateY(0);
}

.exit-modal {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 15px;
}

.exit-modal:hover {
  background-color: rgba(0, 0, 0, 0.082);
}

.invalid-image {
  font-size: 15px;
  display: none;
}

.no-changes-txt {
  font-size: 15px;
  display: none;
}

/* The switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide the default checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When the checkbox is checked, slide the slider */
.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.nickname-indicator {
  font-size: 10px;
  position: relative;
  top: -15px;
}