/* Reset default styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Import Poppins font from Google Fonts */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Set font and background for entire document */
body {
  font-family: sans-serif;
  background-color: #fafafa;
  zoom: 0.95; /* Zoom out the entire document */
}

/* Set height for html and body elements */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Set font style for p elements */
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

/* Set font style for a elements */
a,
a:hover,
a:focus {
  color: inherit; /* Inherit font color from parent element */
  text-decoration: none; /* Remove underline from links */
  transition: all 0.3s; /* Add smooth transition to links */
}

/* Set style for navigation bar */
.navbar {
  padding: 15px 10px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Remove box-shadow and outline from navbar buttons */
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* Set style for admin text */
#admin-txt {
  text-align: center;
  font-size: 19px !important;
}

/* Set style for left bar */
.left-bar {
  flex: 0 0 auto; /* Prevent left bar from growing or shrinking */
  width: 250px;
  background-color: #171717;
  /* Other styles for left bar */
}

/* Add horizontal line */
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
}

/* Set display style for wrapper element */
.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Set style for sidebar element */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  transition: all 0.3s;
  height: 100%;
  background-color: #343a40;
  overflow-y: auto;
}

/* Hide scrollbar for sidebar element */
#sidebar::-webkit-scrollbar {
  display: none;
}

/* Set style for active sidebar */
#sidebar.active {
  margin-left: -250px;
}

/* Set style for sidebar header */
#sidebar .sidebar-header {
  padding: 10px;
  background-color: #17a2b8;
  display: flex;
  align-items: center;
  gap: 7px;
}

/* Set style for sidebar components */
#sidebar ul.components {
  padding: 20px 0px;
  border-bottom: 1px solid #47748b;
}

/* Set style for sidebar p elements */
#sidebar ul p {
  padding: 10px;
  font-size: 15px;
  display: block;
  color: #fff;
}

/* Set style for sidebar li a elements */
#sidebar ul li a {
  padding: 10px;
  font-size: 0.95em;
  display: block;
}

/* Set style for hovered sidebar li a elements */
#sidebar ul li a:hover {
  color: #fff;
  background-color: #292d2e;
  opacity: 0.8;
}

/* Set style for active sidebar li a elements */
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background-color: #292d2e;
}

/* Set style for dropdown toggle elements */
a[data-toggle="collapse"] {
  position: relative;
}

/* Set style for sidebar element */
#sidebar {
  height: 100%;
  width: 250px;
  background-color: #343a40;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

/* Set style for active sidebar */
#sidebar.active {
  width: 0px;
}

/* Set style for dropdown toggle ::after element */
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* Set style for nested ul ul a elements */
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: #292d2e;
}

/* Set style for CTAs ul element */
ul.CTAs {
  padding: 20px;
}

/* Set style for CTAs ul a elements */
ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5
