* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: sans-serif;
  background: #fafafa;
  zoom: 0.95;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

#admin-txt {
  text-align: center;
  font-size: 19px !important;
}

.left-bar {
  flex: 0 0 auto; /* This will make the left-bar not grow or shrink */
  width: 250px;
  background-color: #171717;
  /* Other styles you might have */
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  transition: all 0.3s;
  height: 100%;
  background-color: #343a40;
  overflow-y: auto;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 10px;
  background: #17a2b8;
  display: flex;
  align-items: center;
  gap: 7px;
}
#sidebar ul.components {
  padding: 20px 0px;
  border-bottom: 1px solid #47748b;
}
#sidebar ul p {
  padding: 10px;
  font-size: 15px;
  display: block;
  color: #fff;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 0.95em;
  display: block;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #292d2e;
  opacity: 0.8;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #292d2e;
}
a[data-toggle="collapse"] {
  position: relative;
}
#sidebar {
  height: 100%;
  width: 250px;
  background-color: #343a40;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

#sidebar.active {
  width: 0px;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #292d2e;
}
ul.CTAs {
  padding: 20px;
}
ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download,
a.download:hover {
  background: #318fb5;
  color: #fff;
}
.content-container {
  padding: 0px 30px;
}
.content-wrapper {
  overflow-y: auto;
}
.content {
  width: 100%;
  height: 100%;
}
@media (maz-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0px;
  }
  #sidebarCollapse span {
    display: none;
  }
}
