<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JAOM Admin - Modifications / Donation's Info</title>
  </head>
  <body>
    <div class="wrapper">
      <app-left-bar id="sidebar"></app-left-bar>

      <div class="content">
        <app-top-bar id="top-bar"></app-top-bar>
        <div class="content-container">
          <p>Settings</p>
          <div>
            <p style="font-size: 14px">Theme</p>
            <p style="font-size: 10px; margin-top: 5px">
              *Set bank type method to use for donations.
            </p>
            <div class="s-panel-item">
              <input
                value="Light"
                type="text"
                class=""
                style="
                  padding: 7px;
                  border-color: transparent;
                  border-radius: 5px;
                  font-size: 12px;
                  width: 150px;
                  box-sizing: border-box;
                  background: rgba(217, 217, 217, 0.21);
                  text-align: center;
                  color: rgb(128, 128, 128);
                  text-overflow: ellipsis;
                "
                disabled
              />
              <select
                class="s-panel-inputs"
                id="newFirstName"
                placeholder="New value ...."
                type="text"
                [(ngModel)]="selectedTheme"
              >
                <option value="">Select theme background</option>
                <option value="dark">Dark</option>
                <option value="light">Light</option>
              </select>
              <button
                class="btnConfig btn-conf-v1"
                [ngStyle]="{
                  background: '#108898',
                  'border-color': 'transparent',
                  'border-radius': '5px',
                  color: '#FFFFFF',
                  padding: '6px 15px',
                  cursor: 'pointer'
                }"
                (click)="updateConfigurations(0)"
              >
                Save
              </button>
            </div>
            <hr />
          </div>
          <div>
            <p style="font-size: 14px">Profile Settings</p>
            <div style="padding: 0 30px">
              <p style="font-size: 14px">Name</p>
              <div class="s-panel-item">
                <input
                  [value]="accountName"
                  type="text"
                  class=""
                  style="
                    padding: 7px;
                    border-color: transparent;
                    border-radius: 5px;
                    font-size: 12px;
                    width: 150px;
                    box-sizing: border-box;
                    background: rgba(217, 217, 217, 0.21);
                    text-align: center;
                    color: rgb(128, 128, 128);
                    text-overflow: ellipsis;
                  "
                  disabled
                />
                <input
                  [(ngModel)]="modifiedAccountName"
                  class="s-panel-inputs"
                  id="newFirstName"
                  placeholder="New value ...."
                  type="text"
                />
                <button
                  (click)="updateConfigurations(1)"
                  class="btnConfig btn-conf-v1"
                  [ngStyle]="{
                    background: '#108898',
                    'border-color': 'transparent',
                    'border-radius': '5px',
                    color: '#FFFFFF',
                    padding: '6px 15px',
                    cursor: 'pointer'
                  }"
                >
                  Save
                </button>
              </div>
              <p style="font-size: 14px">Age</p>
              <div class="s-panel-item">
                <input
                  [value]="'21 years old'"
                  type="text"
                  class=""
                  style="
                    padding: 7px;
                    border-color: transparent;
                    border-radius: 5px;
                    font-size: 12px;
                    width: 150px;
                    box-sizing: border-box;
                    background: rgba(217, 217, 217, 0.21);
                    text-align: center;
                    color: rgb(128, 128, 128);
                    text-overflow: ellipsis;
                  "
                  disabled
                />
                <input
                  [(ngModel)]="modifiedAccountAge"
                  class="s-panel-inputs"
                  id="newAge"
                  placeholder="New value ...."
                  type="text"
                />
                <button
                  (click)="updateConfigurations(1)"
                  class="btnConfig btn-conf-v1"
                  [ngStyle]="{
                    background: '#108898',
                    'border-color': 'transparent',
                    'border-radius': '5px',
                    color: '#FFFFFF',
                    padding: '6px 15px',
                    cursor: 'pointer'
                  }"
                >
                  Save
                </button>
              </div>
              <hr>
              <p style="font-size: 14px">Email Address</p>
              <div class="s-panel-item">
                <input
                  [value]="'algadipej962@gmail.com'"
                  type="text"
                  class=""
                  style="
                    padding: 7px;
                    border-color: transparent;
                    border-radius: 5px;
                    font-size: 12px;
                    width: 150px;
                    box-sizing: border-box;
                    background: rgba(217, 217, 217, 0.21);
                    text-align: center;
                    color: rgb(128, 128, 128);
                    text-overflow: ellipsis;
                  "
                  disabled
                />
                <input
                  [(ngModel)]="modifiedAccountEmail"
                  class="s-panel-inputs"
                  id="newFirstName"
                  placeholder="New value ...."
                  type="text"
                />
                <button
                  (click)="updateConfigurations(1)"
                  class="btnConfig btn-conf-v1"
                  [ngStyle]="{
                    background: '#108898',
                    'border-color': 'transparent',
                    'border-radius': '5px',
                    color: '#FFFFFF',
                    padding: '6px 15px',
                    cursor: 'pointer'
                  }"
                >
                  Save
                </button>
              </div>
              <hr>
              <p style="font-size: 14px">Phone Number</p>
              <div class="s-panel-item">
                <input
                  [value]="'09785679569'"
                  type="text"
                  class=""
                  style="
                    padding: 7px;
                    border-color: transparent;
                    border-radius: 5px;
                    font-size: 12px;
                    width: 150px;
                    box-sizing: border-box;
                    background: rgba(217, 217, 217, 0.21);
                    text-align: center;
                    color: rgb(128, 128, 128);
                    text-overflow: ellipsis;
                  "
                  disabled
                />
                <input
                  [(ngModel)]="modifiedAccountPhone"
                  class="s-panel-inputs"
                  id="newPhone"
                  placeholder="New value ...."
                  type="text"
                />
                <button
                  (click)="updateConfigurations(1)"
                  class="btnConfig btn-conf-v1"
                  [ngStyle]="{
                    background: '#108898',
                    'border-color': 'transparent',
                    'border-radius': '5px',
                    color: '#FFFFFF',
                    padding: '6px 15px',
                    cursor: 'pointer'
                  }"
                >
                  Save
                </button>
              </div>
              <hr>
              <p style="font-size: 14px">Location</p>
              <div class="s-panel-item">
                <input
                  [value]="'Cebu City'"
                  type="text"
                  class=""
                  style="
                    padding: 7px;
                    border-color: transparent;
                    border-radius: 5px;
                    font-size: 12px;
                    width: 150px;
                    box-sizing: border-box;
                    background: rgba(217, 217, 217, 0.21);
                    text-align: center;
                    color: rgb(128, 128, 128);
                    text-overflow: ellipsis;
                  "
                  disabled
                />
                <input
                  [(ngModel)]="modifiedlocation"
                  class="s-panel-inputs"
                  id="newLocation"
                  placeholder="New value ...."
                  type="text"
                />
                <button
                  (click)="updateConfigurations(1)"
                  class="btnConfig btn-conf-v1"
                  [ngStyle]="{
                    background: '#108898',
                    'border-color': 'transparent',
                    'border-radius': '5px',
                    color: '#FFFFFF',
                    padding: '6px 15px',
                    cursor: 'pointer'
                  }"
                >
                  Save
                </button>
              </div>
              <hr>
              <p style="font-size: 14px">Password</p>
              <div class="s-panel-item">
                <input
                  [value]="'09785679569'"
                  type="text"
                  class=""
                  style="
                    padding: 7px;
                    border-color: transparent;
                    border-radius: 5px;
                    font-size: 12px;
                    width: 150px;
                    box-sizing: border-box;
                    background: rgba(217, 217, 217, 0.21);
                    text-align: center;
                    color: rgb(128, 128, 128);
                    text-overflow: ellipsis;
                  "
                  disabled
                />
                <div >
                  <input
                  [(ngModel)]="modifiedAccountNewPass"
                  class="s-panel-inputs"
                  id="newAccountPass"
                  placeholder="New password ...."
                  type="text"
                /><br>
                <input style="margin-top: 10px;"
                [(ngModel)]="modifiedAccountNewPass"
                class="s-panel-inputs"
                id="confirmAccountPass"
                placeholder="Confirm password ...."
                type="text"
              />
                </div>
                <button
                  (click)="updateConfigurations(1)"
                  class="btnConfig btn-conf-v1"
                  [ngStyle]="{
                    background: '#108898',
                    'border-color': 'transparent',
                    'border-radius': '5px',
                    color: '#FFFFFF',
                    padding: '6px 15px',
                    cursor: 'pointer'
                  }"
                >
                  Save
                </button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-messages update-dialog-message">
      <p class="text-success"></p>
    </div>
    <div class="dialog-messages info-dialog-message">
      <p class="text-dark"></p>
    </div>
  </body>
</html>
