<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JAOM Admin - User Management / Users</title>
</head>

<body>
  <div class="wrapper">
    <app-left-bar style="z-index: 1000;"></app-left-bar>

    <div class="content">
      <app-top-bar id="top-bar"></app-top-bar>
      <div class="content-container">
        <p>Users</p>
        <div class="d-flex justify-content-end" style="margin: 20px">
          <div class="input-group">
            <input type="text" [(ngModel)]="searchTerm" (input)="applySearchFilter()"
              placeholder="Search by First Name, Last Name, Email, Phone #" class="form-control filter-user-search" />
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered users-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone #</th>
                <th>Date Joined</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of filteredUsers">
                <td>{{ user?.id }}</td>
                <td>{{ user?.firstname }}</td>
                <td>{{ user?.lastname }}</td>
                <td>{{ user?.email }}</td>
                <td>{{ user?.phone }}</td>
                <td>
                  {{ user?.updated_at | date : "longDate" }}
                </td>
                <td class="action-cont" disabled>
                  <img [src]="imageUrls.editUsers" alt="" (click)="openEditModal(user?.id)" />
                  <img (click)="deleteSpecificUser(user?.id)" [src]="imageUrls.delete" alt="" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-cont">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="onPageChange(1)">
                << </a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of getPageRange()" [class.active]="currentPage === page">
              <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === usersData?.last_page">
              <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === usersData?.last_page">
              <a class="page-link" (click)="onPageChange(usersData?.last_page)">>></a>
            </li>
          </ul>
          <p class="text-muted showing-pagination">
            Showing {{ getStartingIndex() }} - {{ getCurrentPageEnd() }} of
            {{ usersData?.total }} users
          </p>
        </div>
        <div class="dialog-messages delete-dialog-message">
          <p class="text-danger">User deleted successfully</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-overlay">
    <div class="modal-container">
      <div class="modal-content">
        <button (click)="closeEditModal()" type="button" class="close exit-modal" aria-label="Close">
          X
        </button>
        <h2>Edit User</h2>
        <div class="profile-image-cont">
          <img class="profile-image" [src]="selectedImageSrc" alt="" />
          <input type="file" accept="image/jpeg, image/png" (change)="onImageChange($event)" />
          <p class="text-danger invalid-image">Invalid image format!</p>
        </div>
        <form class="form">
          <div class="form-group row">
            <label for="defaultFirstName" class="col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-9 d-flex align-items-center">
              <input id="defaultFirstName" type="text" class="form-control mr-3" value="" disabled />
              <input id="inputFirstName" type="text" class="form-control" placeholder="Input new value" />
            </div>
          </div>
          <div class="form-group row">
            <label for="defaultLastName" class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9 d-flex align-items-center">
              <input id="defaultLastName" type="text" class="form-control mr-3" value="" disabled />
              <input id="inputLastName" type="text" class="form-control" placeholder="Input new value" />
            </div>
          </div>
          <div class="form-group row">
            <label for="defaultNickName" class="col-sm-3 col-form-label">Nick Name</label>
            <div class="col-sm-9 d-flex align-items-center">
              <input id="defaultNickName" type="text" class="form-control mr-3" value="" disabled />
              <input id="hiddenFullNickName" type="text" class="form-control mr-3 d-none" value="" disabled />
              <input id="inputNickName" type="text" class="form-control" placeholder="Input new value" />
            </div>
          </div>
          <div class="form-group row">
            <label for="defaultAge" class="col-sm-3 col-form-label">Age</label>
            <div class="col-sm-9 d-flex align-items-center">
              <input id="defaultAge" type="text" class="form-control mr-3" value="" disabled />
              <input id="inputAge" type="number" class="form-control" placeholder="Input new value" />
            </div>
          </div>
          <div class="form-group row">
            <label for="defaultEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9 d-flex align-items-center">
              <input id="defaultEmail" type="text" class="form-control mr-3" value="" disabled />
              <input id="inputEmail" type="email" class="form-control" placeholder="Input new value" />
            </div>
          </div>
          <div class="form-group row">
            <label for="defaultPhone" class="col-sm-3 col-form-label">Phone</label>
            <div class="col-sm-9 d-flex align-items-center">
              <input id="defaultPhone" type="text" class="form-control mr-3" value="" disabled />
              <input id="inputPhone" type="text" class="form-control" placeholder="Input new value" />
            </div>
          </div>
          <div class="form-group row">
            <label for="defaultLocation" class="col-sm-3 col-form-label">Location</label>
            <div class="col-sm-9 d-flex align-items-center">
              <input id="defaultLocation" type="text" class="form-control mr-3" value="" disabled />
              <input id="inputLocation" type="text" class="form-control" placeholder="Input new value" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <br />
              <button (click)="updateUserData()" class="btn btn-primary submit-btn" type="button">
                Update
              </button>
            </div>
          </div>
        </form>
        <p class="text-danger text-center no-changes-txt">
          No any changes yet!
        </p>
      </div>
      <div class="update-dialog-message">
        <p class="text-success">Data updated successfully!</p>
      </div>
    </div>
  </div>
  <app-spinner-loading *ngIf="isSpinnerLoading"></app-spinner-loading>
</body>

</html>
