<nav>
  <div class="sidebar-header">
    <img
      style="width: 40x; height: 40px; border-radius: 50%"
      [src]="imageUrls.user_default"
      alt=""
    />
    <div>
      <p style="color: #fff; text-align: center; font-size: 16px">
        {{ data?.firstname + " " + data?.lastname }}
      </p>
      <span class="dot"></span><span style="font-size: 13px">Online</span>
    </div>
  </div>
  <ul class="list-unstyled components">
    <p id="admin-txt">Administrator</p>
    <li class="active">
      <a [routerLink]="['/dashboard']">
        <img [src]="imageUrls.dash" alt="" /> &nbsp;&nbsp;Dashboard
      </a>
    </li>
    <li>
      <a
        href="#dashSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        ><img style="width: 28px" [src]="imageUrls.user_management" alt="" />
        &nbsp;&nbsp;User Management</a
      >
      <ul class="collapse list-unstyled" id="dashSubmenu">
        <li><a [routerLink]="['/user-management', 'users']">Users</a></li>
        <li><a [routerLink]="['/user-management', 'chats']">Chats</a></li>
        <li><a [routerLink]="['/user-management', 'rooms']">Rooms</a></li>
        <li><a [routerLink]="['/user-management', 'updates']">Updates</a></li>
        <li><a [routerLink]="['/user-management', 'todos']">To-do List</a></li>
        <li>
          <a [routerLink]="['/user-management', 'user-history']"
            >User History</a
          >
        </li>
        <li>
          <a [routerLink]="['/user-management', 'configurations']"
            >Configurations</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#transSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        ><img [src]="imageUrls.trans" alt="" /> &nbsp;&nbsp;Transactions</a
      >
      <ul class="collapse list-unstyled" id="transSubmenu">
        <li><a [routerLink]="['/transactions', 'donations']">Donations</a></li>
      </ul>
    </li>
    <li>
      <a
        href="#analyticsSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        ><img [src]="imageUrls.analytics" alt="" /> &nbsp;&nbsp;Analytics</a
      >
      <ul class="collapse list-unstyled" id="analyticsSubmenu">
        <li><a [routerLink]="['/analytics', 'page-visits']">Page Visits</a></li>
      </ul>
    </li>
    <li>
      <a
        href="#modifySubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        ><img [src]="imageUrls.edit" alt="" /> &nbsp;&nbsp;Modifications</a
      >
      <ul class="collapse list-unstyled" id="modifySubmenu">
        <li>
          <a [routerLink]="['/modifications', 'donations-info']"
            >Donation's Info</a
          >
        </li>
        <li>
          <a [routerLink]="['/modifications', 'contact-details']"
            >Contact Details</a
          >
        </li>
        <li><a [routerLink]="['/modifications', 'faqs']">FAQs</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/feedbacks']">
        <img [src]="imageUrls.faqs" alt="" />&nbsp;&nbsp;Feedbacks / Concerns
      </a>
    </li>
    <li>
      <a [routerLink]="['/security-control']">
        <img [src]="imageUrls.security" alt="" />&nbsp;&nbsp;Security and
        Control
      </a>
    </li>
    <li>
      <a [routerLink]="['/settings']">
        <img [src]="imageUrls.settings" alt="" />&nbsp;&nbsp;Settings
      </a>
    </li>
  </ul>
  <ul class="list-unstyled CTAs">
    <li>
      <a (click)="logOut()" style="cursor: pointer" class="download">Log Out</a>
    </li>
  </ul>
</nav>
