/* Set the z-index property for the sidebar to ensure it appears above other elements */
.sidebar {
  z-index: 1000;
}

/* Position the sidebar header relatively */
.sidebar-header {
  position: relative;
}

/* Style the dot indicator */
.dot {
  height: 10px; /* Set the height of the dot */
  width: 10px; /* Set the width of the dot */
  background-color: #55D853; /* Set the background color of the dot */
  border-radius: 50%; /* Make the dot circular */
  display: inline-block; /* Display the dot as an inline-block element */
  margin-right: 5px; /* Add some margin to the right of the dot */
}

/* Style the collapse class to fade in and out */
.collapse {
  opacity: 0; /* Initially set the opacity to 0 */
  transition: opacity 1s ease-in-out; /* Add a transition effect to the opacity property */
}

/* Set the opacity to 1 when the show class is added */
.show {
  opacity: 1;
}

/* Style the list items with a pointer cursor */
li {
  cursor: pointer;
}

/* Add a bottom border to certain list items */
#dashSubmenu li,
#transSubmenu li,
#analyticsSubmenu li,
#modifySubmenu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.358);
}

/* Style the links inside certain list items */
#dashSubmenu li a,
#transSubmenu li a,
#analyticsSubmenu li a,
#modifySubmenu li a {
  background: rgba(0, 0, 0, 0.428);
}

/* Style the loading spinner */
.loading-spinner {
  border: 4px solid #ccc; /* Set the border width and color */
  border-top: 4px solid #333; /* Set the border-
