<nav id="sidebar">
  <div class="sidebar-header">
    <div (click)="hidePanel()" class="exit-icon">
      x
    </div>
    <ng-container *ngIf="data; else showLoading">
      <ng-container *ngIf="data?.image_blob !== null; else otherImage">
        <img style="width: 40px; height: 40px; border-radius: 50%" [src]="selectedImageSrc" alt="" />
      </ng-container>
      <ng-template #otherImage>
        <img style="width: 40x; height: 40px; border-radius: 50%" [src]="imageUrls.user_default" alt="" />
      </ng-template>
      <div *ngIf="data">
        <p style="color: #fff; text-align: center; font-size: 16px">
          {{ data?.firstname + " " + data?.lastname }}
        </p>
        <div class="blinking-status">
          <span class="dot"></span><span style="font-size: 13px">Online</span>
        </div>
      </div>
    </ng-container>
    <ng-template #showLoading>
      <div class="loading-spinner"></div>
    </ng-template>
  </div>
  <ul class="list-unstyled components">
    <p id="admin-txt">Administrator</p>
    <li class="{{activeIndex == 1 ? 'active' : ''}}" (click)="checkActive(1, 'dashboard')">
      <a>
        <img [src]="imageUrls.dash" alt="" /> &nbsp;&nbsp;Dashboard
      </a>
    </li>
    <li style="cursor: pointer" class="{{activeIndex == 2 ? 'active' : ''}}">
      <a (click)="toggleDropdown(0)" data-toggle="collapse" [class.dropdown-toggle]="!isUserManagementExpanded"
        [attr.aria-expanded]="isUserManagementExpanded"><img style="width: 28px" [src]="imageUrls.user_management"
          alt="" />
        &nbsp;&nbsp;User Management</a>
      <ul class="collapse list-unstyled" id="dashSubmenu" [class.show]="isUserManagementExpanded">
        <li (click)="checkActive(2, 'user-management/users')"><a>Users</a></li>
        <li (click)="checkActive(2, 'user-management/chats')"><a>Chats</a></li>
        <li (click)="checkActive(2, 'user-management/rooms')"><a>Rooms</a></li>
        <li (click)="checkActive(2, 'user-management/updates')"><a>Updates</a></li>
        <li (click)="checkActive(2, 'user-management/todos')"><a>To-do List</a></li>
        <li (click)="checkActive(2, 'user-management/contacts')"><a>Contacts</a></li>
        <li (click)="checkActive(2, 'user-management/prayer-offers')"><a>Prayer Offers</a></li>
        <li (click)="checkActive(2, 'user-management/user-history')">
          <a>User History</a>
        </li>
        <li (click)="checkActive(2, 'user-management/configurations')">
          <a>Configurations</a>
        </li>
      </ul>
    </li>
    <li style="cursor: pointer" class="{{activeIndex == 3 ? 'active' : ''}}">
      <a (click)="toggleDropdown(1)" data-toggle="collapse" [attr.aria-expanded]="isTransactionsExpanded"
        [class.dropdown-toggle]="!isTransactionsExpanded"><img [src]="imageUrls.trans" alt="" />
        &nbsp;&nbsp;Transactions</a>
      <ul [class.show]="isTransactionsExpanded" class="collapse list-unstyled" id="transSubmenu">
        <li (click)="checkActive(3, 'transactions/donations')"><a>Donations</a></li>
      </ul>
    </li>
    <li style="cursor: pointer" class="{{activeIndex == 4 ? 'active' : ''}}">
      <a (click)="toggleDropdown(2)" data-toggle="collapse" [attr.aria-expanded]="isAnalyticsExpanded"
        [class.dropdown-toggle]="!isAnalyticsExpanded"><img [src]="imageUrls.analytics" alt="" />
        &nbsp;&nbsp;Analytics</a>
      <ul [class.show]="isAnalyticsExpanded" class="collapse list-unstyled" id="analyticsSubmenu">
        <li (click)="checkActive(4, 'analytics/page-visits')"><a>Page Visits</a></li>
      </ul>
    </li>
    <li style="cursor: pointer" class="{{activeIndex == 5 ? 'active' : ''}}">
      <a (click)="toggleDropdown(3)" data-toggle="collapse" [attr.aria-expanded]="isModificationsExpanded"
        [class.dropdown-toggle]="!isModificationsExpanded"><img [src]="imageUrls.edit" alt="" />
        &nbsp;&nbsp;Modifications</a>
      <ul [class.show]="isModificationsExpanded" class="collapse list-unstyled" id="modifySubmenu">
        <li (click)="checkActive(5, 'modifications/donations-info')">
          <a>Donation's Info</a>
        </li>
        <li (click)="checkActive(5, 'modifications/contact-details')">
          <a>Contact Details</a>
        </li>
        <li (click)="checkActive(5, 'modifications/faqs')"><a>FAQs</a></li>
      </ul>
    </li>
    <li class="{{activeIndex == 6 ? 'active' : ''}}" (click)="checkActive(6, 'feedbacks')">
      <a>
        <img [src]="imageUrls.faqs" alt="" />&nbsp;&nbsp;Feedbacks / Concerns
      </a>
    </li>
    <li class="{{activeIndex == 7 ? 'active' : ''}}" (click)="checkActive(7, 'security-control')">
      <a>
        <img [src]="imageUrls.security" alt="" />&nbsp;&nbsp;Security and
        Control
      </a>
    </li>
    <li class="{{activeIndex == 8 ? 'active' : ''}}" (click)="checkActive(8, 'settings')">
      <a>
        <img [src]="imageUrls.settings" alt="" />&nbsp;&nbsp;Settings
      </a>
    </li>
  </ul>
  <ul class="list-unstyled CTAs">
    <li>
      <a (click)="logOut()" style="cursor: pointer" class="download">Log Out</a>
    </li>
  </ul>
  <footer>
    <p id="footer-p">© 2023 JAOM Connect. All Rights Reserved</p>
  </footer>
</nav>
<app-spinner-loading *ngIf="isSpinnerLoading"></app-spinner-loading>
