.sidebar {
  z-index: 1000;
}

.sidebar-header {
  position: relative;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #55D853;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.collapse {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}

li {
  cursor: pointer;
}

#dashSubmenu li,
#transSubmenu li,
#transSubmenu li,
#analyticsSubmenu li,
#modifySubmenu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.358);
}

#dashSubmenu li a,
#transSubmenu li a,
#transSubmenu li a,
#analyticsSubmenu li a,
#modifySubmenu li a {
  background: rgba(0, 0, 0, 0.428);
}

.loading-spinner {
  border: 4px solid #ccc;
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#footer-p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}
